@using Michaelsoft.ContentManager.Client.Interfaces
@using Michaelsoft.ContentManager.Client.Models.Forms
@using Michaelsoft.ContentManager.Client.Models.Partials
@using Michaelsoft.ContentManager.Common.HttpModels.Content
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.WebUtilities
@model Michaelsoft.ContentManager.Client.Models.Lists.ContentList
@inject IHttpContextAccessor HttpContextAccessor
@inject IContentManagerContentApiService ContentManagerContentApiService
@inject IViewLocalizer Localizer

@{
    int.TryParse(HttpContextAccessor.HttpContext.Request.Query["page"], out var page);
    int.TryParse(HttpContextAccessor.HttpContext.Request.Query["items"], out var items);
    List<Content> contents;
    long totalContents;
    try
    {
        var contentListResponse = ContentManagerContentApiService.List(page, items).Result;
        contents = contentListResponse.Contents;
        totalContents = contentListResponse.TotalContents;
    }
    catch (Exception)
    {
        <p class="text-danger">@Localizer["unauthorized"]</p>
        return;
    }
    if (!contents.Any())
    {
        return;
    }
}

<div class="row mb-3">
    @foreach (var content in contents)
    {
        <div class="col-4 p-2">
            <div class="card">
                <div class="card-header">
                    <div>
                        <dt class="d-inline-block">
                            <label asp-for="@content.Id"></label>:&nbsp;
                        </dt>
                        <dd class="d-inline-block">
                            @content.Id
                        </dd>
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <dt class="d-inline-block">
                            <label asp-for="@content.Title"></label>:
                        </dt>
                        <br>
                        <dd class="d-inline-block" style="white-space: nowrap;">
                            @content.Title
                        </dd>
                    </div>
                    <div>
                        <dt class="d-inline-block">
                            <label asp-for="@content.Subtitle"></label>:
                        </dt>
                        <br>
                        <dd class="d-inline-block" style="white-space: nowrap;">
                            @content.Subtitle
                        </dd>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-4">
                            <a class="btn btn-primary btn-sm btn-block" asp-area="@Model.ViewArea" asp-page="@Model.ViewPage" asp-route-id="@content.Id">@Localizer[Model.ViewLabel]</a>
                        </div>
                        <div class="col-4">
                            <a class="btn btn-warning btn-sm btn-block" asp-area="@Model.UpdateArea" asp-page="@Model.UpdatePage" asp-route-id="@content.Id">@Localizer[Model.UpdateLabel]</a>
                        </div>
                        <div class="col-4">
                            @{
                                await Html.RenderPartialAsync("_DeleteForm", new DeleteForm
                                {
                                    Id = content.Id,
                                    SuccessArea = Model.SuccessArea,
                                    SuccessPage = Model.SuccessPage,
                                    FailureArea = Model.FailureArea,
                                    FailurePage = Model.FailurePage
                                });
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@{
    await Html.RenderPartialAsync("_Pager", new PagerModel
    {
        ActivePage = page,
        BaseUrl = HttpContextAccessor.HttpContext.Request.Path,
        ItemsPerPage = items,
        TotalItems = totalContents
    });
}